
.hidden{
	display:none;
}

html {
  scroll-behavior: smooth;
}

body{
  background-color: black;
}

p, h1, h2, h3{
  color: white;
}

h1, h3, h2, a{
    font-family: 'Copse', Arial, Helvetica, sans-serif;
}

p{
    font-family: 'Rufina', Arial, Helvetica, sans-serif;
}

a{
  font-size: 25px;
}

h1, h3, h2{
  text-align: center;
}

h2{
  font-size: 50px;
}

/* boxhelper for prototyping */
.boxHelper {
  color: #fff;
  background: #000;
  text-align: center;
	height:100px;
	width:100%;
}


/* hamburger css */
.topbar-center-logo {
  background: Black;
}

.topbar-center-logo .menu {
  background: Black;
}

.topbar-center-logo .menu a {
  color: white;
}

.topbar-center-logo .top-bar-center {
  -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .topbar-center-logo .top-bar-center {
    display: none;
  }
}

.topbar-center-logo-mobile {
  background: Black;
}

.topbar-center-logo-mobile .menu-icon {
  vertical-align: text-top;
}


/* layout */

.footer-container{
    background-color: #252525;
}

/* main header image */

#mainGreeting{
  background: url(../images/header.png);
  padding-bottom: 400px;
  padding-top: 400px;
  text-align: center;
}

@media only screen and (max-width: 720px) {
   #mainGreeting{
       background: url(../images/header_mobile.png);
   }
}
@media only screen and (min-width: 721px) {
   #mainGreeting{
       font-size: 100px;
   }
}

/* about */

.about-container{


}

@media only screen and (min-width: 721px) {
  #description{
    font-size: 25px;  
  }

}
@media only screen and (min-width: 721px) {
  #info{
  margin-top: 200px;
  margin-bottom: 100px;
  }
}

#info{
  margin-top: 100px;
  margin-bottom: 50px;
  }


#mePhoto{
  height:90%;
}

.about-text{
  font-size: 12px;
}



/* skills */

.skills-container{
  margin-top:1em;
}

.skills-header{
margin-bottom: 100px;
}

#ps{
  margin-bottom: 100px;
}

#ae{
  margin-bottom: 100px;
}

/* gallery */

@media only screen and (min-width: 721px) {
  #Gallery{
  margin-top: 200px;
  margin-bottom: 100px;
  }
}

#Gallery{
  margin-top: 100px;
  margin-bottom: 50px;
  }

.gallery-container{

}

.gallery-header{

}

/*video*/

@media only screen and (min-width: 721px) {
  #Video{
  margin-top: 200px;
  margin-bottom: 100px;
  }
}

#Video{
  margin-top: 100px;
  margin-bottom: 50px;
  }


.video-container{

}

.video-header{

}

/*contact*/

@media only screen and (min-width: 721px) {
  #Contact{
  margin-top: 200px;
  margin-bottom: 100px;
  }
}

#Contact{
  margin-top: 100px;
  margin-bottom: 50px;
  }

.contact-container{

}


.contact-header{

}


.contact-form{

}

/*footer*/


